
<h2 id="pagetitle"> Artificial Intelligence for Space Allocation </h2><br>

<div id="infotop">
    <a href="https://ai4dots.herokuapp.com/"  target="_blank">Illustration of Deep Neural Networks for strategy</a>
    <a href="https://github.com/nirvik00/DOTS" style="margin-left:25px"target="_blank">Get the Architecture and Planning Plugin for Grasshopper in Rhino3d</a>
</div>

<ul style="margin-left:3%;">
    <li>Optimize for <b><i>adjacency</i></b> and <b><i>direction</i></b> of each space. </li>
    <li>Attraction or repulsion to other spaces or a direction can be set by +ve / -ve numbers.</li>
    <li>Considerations:
        <ul> 
            <li> O(n): Directions of each cell { North, South, East, West, North-East, North-West, South, South-East }</li>
            <li> O(n<sup>2</sup>): Adjacency between spaces</li>
        </ul>
    </li>
    <li>From this information, the algorithm will determine the best arrangement of spaces.</li>
</ul> 

<div id="buttondiv">
    <button value="Submit" onclick="startOPTLoop()"> START OPTIMIZATION </button>
    <button value="Submit" onclick="startRandom()"> RANDOMIZE </button>
    <button value="Submit" onclick="stopOPTLoop()"> PAUSE & ANALYZE - GRAPHS </button>
    <button value="Submit" onclick="resetSys()"> RESET SYSTEM </button>
    <button value="Submit" onclick="openDataControls()"> SET CONSTRAINTS </button>
</div>

<div id="drawing">
    <canvas id="OPTCANVAS" width="750" height="375"></canvas>
</div>

<div id="info">
        <p id="itrCounter"></p>
        <p id="bestString"></p>
        <p id="bestScore"></p>
        <p id="bestScoreCounter"></p>
        <p id="randomStart"></p>
        <p id="timeElapsed"></p>
        <p id="process"></p>
        <p id="sysmsg"></p>

</div>      


<div id="editDiv">
    <table id="editTable"></table>
</div>

<div id="graphDiv">
    <canvas id="graphScoreCounter"></canvas>
    <p id="graphTitle">Graph 1 : { layout-score } x { cardinal-score ; adjacency-score }</p>
    <canvas id="graphDiffScoreCounter"></canvas>
    <p id="graphTitle">Graph 2 :  rate of change { layout-score } x { cardinal-score ; adjacency-score }</p>
    <canvas id="graphScoreConfigCounter"></canvas>
    <p id="graphTitle">Graph 3 :  { layout-score } x { space-allocation }</p>
    <canvas id="graphDiffScoreConfigCounter"></canvas>
    <p id="graphTitle">Graph 4 : rate of change  { layout-score } x { space-allocation }</p>
</div>
<!--
<script src="./js/infoGraph.js"></script>
-->
<script src="/public/js/GraphData.js"></script>
<script src="/public/js/GenerateTable.js"></script>
<script src="/public/js/Scoring.js"></script>
<script src="/public/js/Objects.js"></script>
<script src="/public/js/Cell.js"></script>
<script src="/public/js/Utils.js"></script>
<script src="/public/js/OptimizationLoop.js"></script>
<script src="/public/js/Main.js"></script>
<script src="/public/js/AnalysisGraph.js"></script>

<div id="endLoop">
    <p id="endstatement"></p>
    </p>
</div>
